<div class="input-group">
  <span class="input-group-addon">Filter By Name</span>

  <input type="text" class="form-control" placeholder="Enter Name..."
         (input)='filterComedians($event.target.value)'>

</div>
<table class='table'>
  <tr>
    <th>Name</th>
    <th>Group</th>
    <th>More Info...</th>
  </tr>

  <tr *ngFor="let comedian of comedians">
    <td>
      <a [routerLink]="['/details',comedian.id]">{{ comedian.fullName }}</a> 
    </td>
    <td> {{ comedian.group.name }} </td>
    <td><a target='_new'
        [href]='comedian.url'>{{ comedian.url }}</a></td>
  </tr>
</table>
